body {
    font-family: Helvetica, sans-sarif;
    text-align: center;
    background: #d1d8e0;
    padding: 10px;
    font-size: 14px;
}

.container {
    padding: 10px
}

.team {
    margin: 45px 0;
    list-style: none;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f5f6fa;
    color: #40739e;
}

.item {
    text-align: center;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
}

.msg {
    font-size: 18px;
    padding: 10px;
    background: #dcdde1;
    color: #273c75;
}

p {
    padding: 10px;
    font-size: 18px
}

.team li {
    margin-bottom: 35px;
}

.divider {
    padding: 2px;
    border-bottom: 2px solid blue;
}

img {
    width: 195px;
}

.fa-twitter {
    font-size: 25px;
}

a:visited {
    color: blue;
}

h1 {
    padding: 2px;
}
